PORT=3000
ONEFLOW_BASE_URL=https://rest.oneflow.com.br/api
OMIE_PORTAL_APPS_BASE_URL=https://app.omie.com.br/api/portal/apps
OMIE_APP_KEY=preencher_app_key_omie
OMIE_APP_SECRET=preencher_app_secret_omie
INTERNAL_API_KEY_HEADER_NAME=X-Internal-Api-Key
INTERNAL_API_KEY=preencher_chave_interna_da_api
ONEFLOW_COMPANY_TOKEN=preencher_token_jwt_da_empresa
ONEFLOW_COMPANY_REFRESH_TOKEN=preencher_refresh_token_da_empresa
ONEFLOW_COMPANY_APP_HASH=preencher_app_hash_da_empresa
ONEFLOW_HTTP_TIMEOUT_SECONDS=30
ONEFLOW_HTTP_RETRY_COUNT=2
ONEFLOW_HTTP_RETRY_BASE_DELAY_MS=500
ONEFLOW_HTTP_CIRCUIT_BREAKER_FAILURE_THRESHOLD=5
ONEFLOW_HTTP_CIRCUIT_BREAKER_BREAK_SECONDS=30
GCLICK_BASE_URL=https://app.gclick.com.br
GCLICK_CLIENT_ID=preencher_client_id_gclick
GCLICK_CLIENT_SECRET=preencher_client_secret_gclick
